# OS files
.DS_Store
Thumbs.db

# IDEs / Editors
.vscode/
.idea/

# Logs
*.log
backend/storage/logs/

# Environment files
.env
backend/.env
frontend/.env
frontend/.env.local

# Backend Dependencies (Composer)
vendor/
backend/vendor/
composer.lock

# Frontend Dependencies (Node/PNPM)
node_modules/
frontend/node_modules/
frontend/dist/
.pnpm-debug.log

# Build files
dist/
build/

# Cache / temp
/tmp/
.cache/

# Uploaded files
public/uploads/
backend/public/uploads/