DB_HOST='localhost'
DB_NAME='xplore_ia'
DB_USERNAME='root'
DB_PASSWORD=''

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=....@gmail.com
SMTP_PASS=udod gdwk urch rrvw

GEMINI_API_KEY=your_gemini_api_key_here

GITHUB_TOKEN=your_github_token_here
GITHUB_MODEL=gpt-4o-mini
