DB_HOST='localhost'
DB_NAME='xplore_ia'
DB_USERNAME='root'
DB_PASSWORD=''

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=yourgmail@gmail.com
SMTP_PASS=apppassword # go to google account and search for app password then created
